.App {
    text-align: center;
    background-color: rgb(216, 71, 71);
    color: white;
    height: 600vh;
    width: 100vw;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.on {
    color: rgb(206, 203, 12);
}

.off {
    color: #ccc;
}

.header {
    font-weight: ;
}

.select-movie {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.film-cart {
    width: 300px;
    height: 400px;
    margin: 10px;
    box-sizing: border-box;
    border: black solid 2px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 1.2em;
}

img {
    margin: 20px 0;
}

.all-movies {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 90vh;
}

ul {
    list-style-type: none;
}

.star {
    font-size: 20px;
}

.my-footer {
    margin-top: 100%;
}

.modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-body {
    position: relative;
    min-width: 350px;
    min-height: 300px;
    background-color: white;
    border-radius: 15px;
    padding-top: 50px;
}

.modal-close {
    color: black;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.modal-content {
    display: flex;
    flex-direction: column;
}